Repository powerhome/pac-quota-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

go-fmt:
  name: Go Format (make fmt)
  entry: make fmt
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (make lint)
  entry: make lint
  language: system
  pass_filenames: false

mockery-generate:
  name: Generate Mocks (make generate)
  entry: make generate
  language: system
  pass_filenames: false

go-test:
  name: Go Unit Tests (make test)
  entry: make test
  language: system
  pass_filenames: false

helm-lint:
  name: Helm Lint (make helm-lint)
  entry: make helm-lint
  language: system
  pass_filenames: false

helm-docs:
  name: Generate Helm Docs (make helm-docs)
  entry: make helm-docs
  language: system
  pass_filenames: false

ci: disable docker containerd snapshotter for kind load
  .github/workflows/e2e.yaml
  .github/workflows/test-chart.yml
Due: none

chore: fix CI
  .github/workflows/e2e.yaml
  .github/workflows/test-chart.yml
Due: none

chore(deps): bump go modules, migrate event recorder, decrease log verbosity (#89)
  charts/pac-quota-controller/templates/rbac/leader_election_role.yaml
  charts/pac-quota-controller/templates/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  internal/controller/clusterresourcequota_helpers_test.go
  pkg/events/cleanup.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/webhook/server/middleware.go
  pkg/webhook/v1alpha1/webhook_handler.go
  test/e2e/e2e_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

Fix Renovate config: remove disallowed `enabled` field from custom manager (#90)
  renovate.json
Due: none

feat(webhook): scope admission verbs and fix pod resize (#91)
  .github/workflows/e2e.yaml
  .github/workflows/test-chart.yml
  Makefile
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  test/e2e/pod_webhook_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

test(e2e): wait for CRQ status before over-quota denial assertions
  test/e2e/objectcount_webhook_test.go
  test/e2e/pod_webhook_test.go
  test/e2e/pvc_webhook_test.go
  test/e2e/service_webhook_test.go
  test/e2e/storage_class_quota_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

refactor(webhook): read CRQ aggregate from status.total.used
  pkg/metrics/metrics.go
  pkg/webhook/server/server.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
  pkg/webhook/v1alpha1/webhook_helpers_test.go
Due: go-fmt, go-lint, go-test

refactor(webhook): share admission decoder and unit Quantity
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

fix(webhook): validate PVC resize delta and skip count on update
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  test/e2e/pod_webhook_test.go
Due: go-fmt, go-lint, go-test

fix(webhook): only charge service count on bucket transitions
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
  test/e2e/pod_webhook_test.go
  test/e2e/service_webhook_test.go
Due: go-fmt, go-lint, go-test

refactor(webhook): read CRQ aggregate from status.total.used (#93)
  pkg/metrics/metrics.go
  pkg/webhook/server/server.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
  pkg/webhook/v1alpha1/webhook_helpers_test.go
  test/e2e/objectcount_webhook_test.go
  test/e2e/pod_webhook_test.go
  test/e2e/pvc_webhook_test.go
  test/e2e/service_webhook_test.go
  test/e2e/storage_class_quota_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

refactor(controller): read namespace resources via cache-backed client
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/objectcount/objectcount.go
  pkg/kubernetes/objectcount/objectcount_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod_test.go
  pkg/kubernetes/services/service.go
  pkg/kubernetes/services/service_test.go
  pkg/kubernetes/storage/storage.go
  pkg/kubernetes/storage/storage_test.go
  pkg/kubernetes/usage/usage.go
  pkg/manager/manager.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix(controller,webhook): warn on silent fail-opens; bind cleanup loop to ctx
  REVIEW-cache-reads.md
  go.mod
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/metrics/metrics.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
Due: go-fmt, go-lint, go-test

Potential fix for pull request finding
  pkg/kubernetes/pod/pod_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

refactor(controller,kubernetes): invert reconcile loop; drop dead state
  .mockery.yml
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/events/recorder.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod_test.go
  pkg/kubernetes/services/service.go
  pkg/kubernetes/services/service_test.go
  pkg/kubernetes/storage/storage.go
  pkg/kubernetes/storage/storage_test.go
  pkg/kubernetes/usage/usage.go
  pkg/kubernetes/usage/usage_test.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix(events): query webhook source so its events get cleaned up too
  pkg/events/cleanup.go
  pkg/events/cleanup_test.go
Due: go-fmt, go-lint, go-test

feat(metrics): cardinality + observability sweep
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/objectcount/objectcount.go
  pkg/metrics/metrics.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix: validation, /readyz CRQ gate, shutdown drain, leader timing
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  cmd/main.go
  pkg/events/config.go
  pkg/events/config_test.go
  pkg/manager/manager.go
  pkg/manager/manager_test.go
  pkg/tls/tls.go
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(webhook): cache-sync /readyz; events_cleaned counter; drain test
  cmd/main.go
  internal/controller/clusterresourcequota_controller.go
  pkg/events/cleanup.go
  pkg/events/cleanup_test.go
  pkg/metrics/metrics.go
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
Due: go-fmt, go-lint, go-test

chore: chart polish + snake_case sweep + constructor nil-checks
  REVIEW-cache-reads.md
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/values.yaml
  pkg/events/cleanup.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/health/health.go
  pkg/webhook/certwatcher/certwatcher.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/webhook.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: add retry on pod mutate
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

fix: remove e2e test that isn't reachable after updating webhook to CREATE only
  test/e2e/controller_reconcile_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

refactor(controller): read namespace resources via cache-backed client (#94)
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/objectcount/objectcount.go
  pkg/kubernetes/objectcount/objectcount_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod_test.go
  pkg/kubernetes/services/service.go
  pkg/kubernetes/services/service_test.go
  pkg/kubernetes/storage/storage.go
  pkg/kubernetes/storage/storage_test.go
  pkg/kubernetes/usage/usage.go
  pkg/manager/manager.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
  test/e2e/controller_reconcile_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix(renovate): add datasourceTemplate and depNameTemplate to regex manager
  go.mod
  go.sum
  renovate.json
Due: none

fix(renovate): add datasourceTemplate and depNameTemplate; bump quic-go (#96)
  go.mod
  go.sum
  renovate.json
Due: none

chore: refactor e2e as code
  .github/workflows/e2e.yaml
  Makefile
  test/e2e/e2e_suite_test.go
  test/utils/cluster.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

chore: refactor e2e as code (#100)
  .github/workflows/e2e.yaml
  Makefile
  test/e2e/e2e_suite_test.go
  test/utils/cluster.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

test(kubernetes): cover pod/storage/namespace aggregation funcs
  pkg/kubernetes/namespace/namespace_validation_test.go
  pkg/kubernetes/pod/pod_aggregation_test.go
  pkg/kubernetes/storage/storage_aggregation_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

test(kubernetes): cover pod/storage/namespace aggregation funcs (#111)
  pkg/kubernetes/namespace/namespace_validation_test.go
  pkg/kubernetes/pod/pod_aggregation_test.go
  pkg/kubernetes/storage/storage_aggregation_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

test(controller): cover reconciler error paths, events, and predicates
  internal/controller/clusterresourcequota_errorpaths_test.go
Due: go-fmt, go-lint, go-test

refactor(controller): merge namespace usage loops, drop dead empty check
  internal/controller/clusterresourcequota_controller.go
Due: go-fmt, go-lint, go-test

test(controller): cover reconciler error paths, events, and predicates (#112)
  internal/controller/clusterresourcequota_errorpaths_test.go
Due: go-fmt, go-lint, go-test

test(e2e): add multi-namespace aggregation, fail-open, and event specs
  test/e2e/controller_events_test.go
  test/e2e/fail_open_test.go
  test/e2e/multi_namespace_test.go
Due: go-fmt, go-lint, go-test

Path conditions:
  go-fmt: any of: \.go$
  go-lint: any of: \.go$
  mockery-generate: any of: ^pkg/kubernetes/.*\.go$
  go-test: any of: \.go$
  helm-lint: any of: ^charts/.*\.(yaml|yml|tpl)$
  helm-docs: any of: ^charts/.*\.(yaml|yml|gotmpl)$
