Repository powerhome/pac-quota-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

go-fmt:
  name: Go Format (make fmt)
  entry: make fmt
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (make lint)
  entry: make lint
  language: system
  pass_filenames: false

mockery-generate:
  name: Generate Mocks (make generate)
  entry: make generate
  language: system
  pass_filenames: false

go-test:
  name: Go Unit Tests (make test)
  entry: make test
  language: system
  pass_filenames: false

helm-lint:
  name: Helm Lint (make helm-lint)
  entry: make helm-lint
  language: system
  pass_filenames: false

helm-docs:
  name: Generate Helm Docs (make helm-docs)
  entry: make helm-docs
  language: system
  pass_filenames: false

fix: remove unused
  test/e2e/e2e_test.go
Due: go-fmt, go-lint, go-test

fix: remove unnecessary code
  internal/controller/clusterresourcequota_controller.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
Due: go-fmt, go-lint, go-test

fix: docs
  charts/pac-quota-controller/Chart.yaml
  docs/metrics.md
Due: helm-lint, helm-docs

chore: helm-docs
  charts/pac-quota-controller/README.md
Due: none

(docs/test): Add some more example files
  examples/test-crq.yaml
  examples/test-deploy.yaml
  examples/test-namespace.yaml
  examples/test-pod.yaml
Due: none

fix(role): add missing permissions
  charts/pac-quota-controller/templates/rbac/role.yaml
Due: helm-lint, helm-docs

fix: calculation of events should use resource.Quantity
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_helpers.go
  internal/controller/clusterresourcequota_helpers_test.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
Due: go-fmt, go-lint, go-test

fix: lint
  examples/test-deploy.yaml
  examples/test-pod.yaml
  pkg/events/recorder.go
  pkg/events/recorder_test.go
Due: go-fmt, go-lint, go-test

chore: move logs to debug
  internal/controller/clusterresourcequota_controller.go
  pkg/kubernetes/storage/storage.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_utils.go
Due: go-fmt, go-lint, mockery-generate, go-test

feat: kubernetes events (#70)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/manager/event-config.yaml
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/rbac/role.yaml
  charts/pac-quota-controller/values.yaml
  cmd/main.go
  docs/metrics.md
  examples/test-crq.yaml
  examples/test-deploy.yaml
  examples/test-namespace.yaml
  examples/test-pod.yaml
  go.mod
  go.sum
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  internal/controller/clusterresourcequota_helpers.go
  internal/controller/clusterresourcequota_helpers_test.go
  pkg/config/config.go
  pkg/events/cleanup.go
  pkg/events/config.go
  pkg/events/config_test.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/kubernetes/storage/storage.go
  pkg/manager/manager.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook_test.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_utils.go
  test/e2e/controller_events_test.go
  test/e2e/e2e_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

chore(makefile): add check to tag-release command
  Makefile
Due: none

chore(makefile): add check to tag-release command (#71)
  Makefile
Due: none

Only get usage of active containers
  pkg/kubernetes/pod/pod.go
Due: go-fmt, go-lint, mockery-generate, go-test

feat: Implement Prometheus metrics for controller reconciliation, add alerting rules, and configure service monitoring.
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/templates/webhook/service.yaml
  charts/pac-quota-controller/values.yaml
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

chore(docs): bump version and update README
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

chore: Update chart app version to 4.0.1, including README badges and image tag.
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

fix: wrong chart version
  charts/pac-quota-controller/Chart.yaml
Due: helm-lint, helm-docs

chore: update version numbers and image tag in README.md
  charts/pac-quota-controller/README.md
Due: none

feat: Enhance RequestLogger to inject correlation ID into standard request context and add tests for this functionality.
  pkg/kubernetes/quota/types.go
  pkg/webhook/server/middleware.go
  pkg/webhook/server/middleware_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

feat: Implement standard Kubernetes pod resource usage calculation and refine pod event reconciliation triggers.
  docs/reconciliation_loop.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod_test.go
  pkg/kubernetes/usage/usage.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  test/e2e/pod_webhook_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix(pod): ensure accurate resource calculation and timely reconciliation
  pkg/kubernetes/pod/pod.go
Due: go-fmt, go-lint, mockery-generate, go-test

Update pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod.go
Due: go-fmt, go-lint, mockery-generate, go-test

Revert "Update pkg/kubernetes/pod/pod.go"
  internal/controller/clusterresourcequota_controller.go
Due: go-fmt, go-lint, go-test

Revert "Update pkg/kubernetes/pod/pod.go"
  pkg/kubernetes/pod/pod.go
Due: go-fmt, go-lint, mockery-generate, go-test

feat: Add comprehensive tests for pod predicate logic, resource calculation, and pod counting.
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/pod/pod_test.go
  pkg/kubernetes/usage/usage_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix: float calculation of metrics
  charts/pac-quota-controller/templates/metrics/service.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/templates/webhook/service.yaml
  internal/controller/clusterresourcequota_controller.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(monitoring): ServiceMonitor, AlertingRules and metrics for reconciliation (#73)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/metrics/service.yaml
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/templates/webhook/service.yaml
  charts/pac-quota-controller/values.yaml
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: certificates
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/certmanager/certificate.yaml
  charts/pac-quota-controller/templates/manager/service.yaml
  charts/pac-quota-controller/templates/metrics/service.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
Due: helm-lint, helm-docs

fix: removing TLS for metrics
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/certmanager/certificate.yaml
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/manager/service.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/values.yaml
  cmd/main.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: removing TLS for metrics
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/values.yaml
Due: helm-lint, helm-docs

fix: defaults
  charts/pac-quota-controller/README.md
Due: none

feat: Implement standard Kubernetes pod resource usage calculation and refine pod event reconciliation triggers (#75)
  docs/reconciliation_loop.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod_test.go
  pkg/kubernetes/usage/usage.go
  pkg/kubernetes/usage/usage_test.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  test/e2e/pod_webhook_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix: metrics port
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/manager/service.yaml
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webhook/server/server_test.go
  pkg/webhook/webhook_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: missing logger in pod tests
  cmd/main.go
  pkg/kubernetes/pod/pod_test.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix: metrics port
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/manager/service.yaml
  cmd/main.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: move metrics to kubebuilder metrics
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/manager/service.yaml
  cmd/main.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

Path conditions:
  go-fmt: any of: \.go$
  go-lint: any of: \.go$
  mockery-generate: any of: ^pkg/kubernetes/.*\.go$
  go-test: any of: \.go$
  helm-lint: any of: ^charts/.*\.(yaml|yml|tpl)$
  helm-docs: any of: ^charts/.*\.(yaml|yml|gotmpl)$
