Repository powerhome/pac-quota-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

.pre-commit-config.yaml:

# Pre-commit configuration for pac-quota-controller
# See https://pre-commit.com for more information
repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  # Go formatting and linting
  - repo: local
    hooks:
      # Go formatting
      - id: go-fmt
        name: Go Format (make fmt)
        entry: make fmt
        language: system
        files: '\.go$'
        pass_filenames: false

      # Go linting
      - id: go-lint
        name: Go Lint (make lint)
        entry: make lint
        language: system
        files: '\.go$'
        pass_filenames: false

      # Generate mocks using mockery
      - id: mockery-generate
        name: Generate Mocks (make generate)
        entry: make generate
        language: system
        files: '^pkg/kubernetes/.*\.go$'
        pass_filenames: false

      # Unit tests
      - id: go-test
        name: Go Unit Tests (make test)
        entry: make test
        language: system
        files: '\.go$'
        pass_filenames: false

      # Helm chart linting
      - id: helm-lint
        name: Helm Lint (make helm-lint)
        entry: make helm-lint
        language: system
        files: '^charts/.*\.(yaml|yml|tpl)$'
        pass_filenames: false

      # Helm documentation generation
      - id: helm-docs
        name: Generate Helm Docs (make helm-docs)
        entry: make helm-docs
        language: system
        files: '^charts/.*\.(yaml|yml|gotmpl)$'
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

# Configuration for different stages
default_stages: [pre-commit]
fail_fast: false

Fix/monitoring chart (#80)
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/certmanager/certificate.yaml
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/manager/service.yaml
  charts/pac-quota-controller/templates/metrics/service.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
  cmd/main.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/kubernetes/pod/pod_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
  pkg/webhook/webhook_test.go
Due: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

chore(chart): allow disabling ServiceMonitor
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
Due: helm-lint, helm-docs

fix: version
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

fix
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
Due: helm-lint, helm-docs

chore(chart): allow disabling ServiceMonitor (#81)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
Due: helm-lint, helm-docs

fix: zombie controller on api unavailable
  cmd/main.go
  internal/controller/clusterresourcequota_controller.go
  pkg/config/config.go
Due: go-fmt, go-lint, go-test

fix: zombie controller on api unavailable (#82)
  cmd/main.go
  internal/controller/clusterresourcequota_controller.go
  pkg/config/config.go
Due: go-fmt, go-lint, go-test

chore: upgrade app to 0.4.2
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

chore: upgrade app to 0.4.2 (#83)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

fix: alerting crq total usage
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: alerting crq total usage (#84)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

test: testing aggregation on reconciliation
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/manager/manager.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test

fix: improve pod status change helper
  test/e2e/controller_reconcile_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

fix: duplicate code
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/services/service.go
  pkg/kubernetes/storage/storage.go
  pkg/kubernetes/storage/storage_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

perf: update reconcile to only calculate on changes
  internal/controller/clusterresourcequota_aggregation.go
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  internal/controller/clusterresourcequota_setup.go
  internal/controller/clusterresourcequota_watch_mapping.go
  internal/controller/resource_predicate.go
  internal/controller/usage_state_store.go
Due: go-fmt, go-lint, go-test

Revert "perf: update reconcile to only calculate on changes"
  internal/controller/clusterresourcequota_aggregation.go
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  internal/controller/clusterresourcequota_setup.go
  internal/controller/clusterresourcequota_watch_mapping.go
  internal/controller/resource_predicate.go
  internal/controller/usage_state_store.go
Due: go-fmt, go-lint, go-test

perf: prefetch namespace resources (#85)
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/services/service.go
  pkg/kubernetes/storage/storage.go
  pkg/kubernetes/storage/storage_test.go
  pkg/manager/manager.go
  pkg/metrics/metrics.go
  test/e2e/controller_reconcile_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, mockery-generate, go-test

refactor(webhook): unify admission handlers via runWebhook
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
  pkg/webhook/v1alpha1/webhook_utils.go
Due: go-fmt, go-lint, go-test

refactor(webhook): address PR review comments and cleanup
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook_test.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook_test.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
  pkg/webhook/v1alpha1/webhook_helpers_test.go
  pkg/webhook/v1alpha1/webhook_utils.go
Due: go-fmt, go-lint, go-test

refactor(webhook): unify admission handlers via runWebhook (#86)
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook_test.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook_test.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
  pkg/webhook/v1alpha1/webhook_helpers_test.go
  pkg/webhook/v1alpha1/webhook_utils.go
Due: go-fmt, go-lint, go-test

feat(metrics): add namespace label to webhook metrics
  docs/metrics.md
  pkg/metrics/metrics.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

docs: add TODOs in future functions
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

chore: upgrade go modules to fix dependabot alerts
  go.mod
  go.sum
Due: none

fix: update dependecies
  internal/controller/clusterresourcequota_controller_test.go
  test/e2e/e2e_test.go
Due: go-fmt, go-lint, go-test

refactor(events): migrate to k8s.io/client-go/tools/events
  charts/pac-quota-controller/templates/rbac/role.yaml
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_helpers_test.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

chore(rbac): drop unused core/events cluster-wide rule
  charts/pac-quota-controller/templates/rbac/role.yaml
Due: helm-lint, helm-docs

chore(logs): skip probe traffic and log webhook denials
  pkg/webhook/server/middleware.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

fix: leave namespace empty
  docs/metrics.md
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

feat(metrics): add namespace label to webhook metrics (#87)
  docs/metrics.md
  pkg/metrics/metrics.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

fix: add missing verbs
  charts/pac-quota-controller/templates/rbac/role.yaml
Due: helm-lint, helm-docs

refactor(webhook): unify admission handlers via runWebhook
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/webhook_handler.go
  pkg/webhook/v1alpha1/webhook_handler_test.go
  pkg/webhook/v1alpha1/webhook_utils.go
Due: go-fmt, go-lint, go-test

feat(metrics): add namespace label to webhook metrics
  docs/metrics.md
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

feat(webhook): scope admission verbs and fix pod resize
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix(rbac): grant list/watch/delete on core/v1 events for cleanup
  charts/pac-quota-controller/templates/rbac/role.yaml
Due: helm-lint, helm-docs

refactor(events): use events.k8s.io/v1 for cleanup
  charts/pac-quota-controller/templates/rbac/role.yaml
  pkg/events/cleanup.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

chore(kind): pin kindest/node to v1.34.0 to match prod servers
  .github/workflows/e2e.yaml
  .github/workflows/test-chart.yml
  Makefile
Due: none

test(webhook): cover pod resize subresource quota delta accounting
  pkg/webhook/v1alpha1/pod_webhook_test.go
  test/e2e/pod_webhook_test.go
Due: go-fmt, go-lint, go-test

chore(rbac): drop unused configmaps from leader election role
  charts/pac-quota-controller/templates/rbac/leader_election_role.yaml
Due: helm-lint, helm-docs
