Repository powerhome/pac-quota-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

go-fmt:
  name: Go Format (make fmt)
  entry: make fmt
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (make lint)
  entry: make lint
  language: system
  pass_filenames: false

mockery-generate:
  name: Generate Mocks (make generate)
  entry: make generate
  language: system
  pass_filenames: false

go-test:
  name: Go Unit Tests (make test)
  entry: make test
  language: system
  pass_filenames: false

helm-lint:
  name: Helm Lint (make helm-lint)
  entry: make helm-lint
  language: system
  pass_filenames: false

helm-docs:
  name: Generate Helm Docs (make helm-docs)
  entry: make helm-docs
  language: system
  pass_filenames: false

refactor(pod): export ValidScopes as the canonical scope name set
  pkg/kubernetes/pod/scope.go
  pkg/kubernetes/pod/scope_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

refactor(quota): reuse pod/usage tables, drop duplicate lookups
  internal/controller/clusterresourcequota_controller.go
  pkg/kubernetes/quota/scope_validation.go
  pkg/kubernetes/usage/usage.go
  pkg/kubernetes/usage/usage_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

refactor(quota): consolidate scope and resource lookup tables (#151)
  internal/controller/clusterresourcequota_controller.go
  pkg/kubernetes/pod/scope.go
  pkg/kubernetes/pod/scope_test.go
  pkg/kubernetes/quota/scope_validation.go
  pkg/kubernetes/usage/usage.go
  pkg/kubernetes/usage/usage_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

docs,test(e2e): document and cover scoped ClusterResourceQuota
  README.md
  docs/quota-scopes.md
  examples/scoped-quota-example.yaml
  test/e2e/scoped_quota_test.go
Due: go-fmt, go-lint, go-test

docs(quota-scopes): include usage package in testing section
  docs/quota-scopes.md
Due: none

docs,test(e2e): document and cover scoped ClusterResourceQuota (#142)
  README.md
  docs/quota-scopes.md
  examples/scoped-quota-example.yaml
  test/e2e/scoped_quota_test.go
Due: go-fmt, go-lint, go-test

chore(release): bump app and chart to 0.6.0
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

chore(release): bump app and chart to 0.6.0 (#155)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

fix(metrics): drop namespace label from webhook admission metrics
  docs/metrics.md
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

feat(metrics): expose absolute crq_hard/crq_used/crq_used_by_namespace gauges
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test

fix(metrics): drop crq_used_by_namespace, trim docs commentary
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test

docs(metrics): trim commentary from webhook cardinality note
  docs/metrics.md
Due: none

refactor(metrics): trim over-explained comments
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test

fix(metrics): drop namespace label from webhook admission metrics (#160)
  docs/metrics.md
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webhook/v1alpha1/webhook_handler.go
Due: go-fmt, go-lint, go-test

docs(chart): document crq_hard/crq_used metrics
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
Due: helm-docs

feat(metrics): expose absolute crq_hard/crq_used/crq_used_by_namespace gauges (#161)
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test, helm-docs

feat(api,webhook): add CRQ enforcement mode (Blocking/ReportOnly)
  README.md
  api/v1alpha1/clusterresourcequota_types.go
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  docs/enforcement-mode.md
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
  pkg/webhook/v1alpha1/webhook_handler.go
  test/e2e/enforcement_mode_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix(test): correct enforcement mode e2e test bugs
  test/e2e/enforcement_mode_test.go
Due: go-fmt, go-lint, go-test

feat(api,webhook): add CRQ enforcement mode (Blocking/ReportOnly) (#162)
  README.md
  api/v1alpha1/clusterresourcequota_types.go
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  docs/enforcement-mode.md
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
  pkg/webhook/v1alpha1/webhook_handler.go
  test/e2e/enforcement_mode_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

Update .github/workflows/stale.yml
  .github/workflows/stale.yml
Due: none

chore(release): bump app and chart to 0.7.0
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

feat(monitoring): add CrqResourcePressure alert (95% for 7d)
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/values.yaml
Due: helm-lint, helm-docs

docs: mention CrqResourcePressure in enforcement-mode doc
  docs/enforcement-mode.md
Due: none

chore(release): bump app and chart to 0.7.0 (#165)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

feat(monitoring): add CrqResourcePressure alert (95% for 7d) (#166)
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/values.yaml
  docs/enforcement-mode.md
Due: helm-lint, helm-docs

fix(metrics): clear per-CRQ gauges on CRQ deletion
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test

fix(metrics): clear per-CRQ gauges on CRQ deletion (#169)
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test

fix(alerting): resolve CrqResourcePressure as soon as current usage clears
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
Due: helm-lint, helm-docs

fix(alerting): use for: instead of count_over_time, explicit report-only check
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/values.yaml
Due: helm-lint, helm-docs

fix(alerting): trim comments to one-liners, no discussion-trail
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/values.yaml
Due: helm-lint, helm-docs

feat(metrics): add raw per-namespace usage; route alerts by appName, not usage
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix(chart): honor metric labels on the ServiceMonitor
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix(alerting): compute CRQ alerts from used/hard, route to owner namespace
  .github/workflows/lint.yml
  Makefile
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/_helpers.tpl
  charts/pac-quota-controller/templates/prometheus/alertingrules.yaml
  charts/pac-quota-controller/values.yaml
  test/prometheus/alertingrules_test.yaml
Due: helm-lint, helm-docs

refactor(alerting): make owner-namespace regex configurable
  Makefile
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/_helpers.tpl
  charts/pac-quota-controller/values.yaml
  test/prometheus/alertingrules_test.yaml
Due: helm-lint, helm-docs

docs(alerting): use a neutral ownerNamespace example
  Makefile
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/values.yaml
  test/prometheus/alertingrules_test.yaml
Due: helm-lint, helm-docs

feat(alerting): route CRQ alerts via an owner-namespace annotation
  Makefile
  api/v1alpha1/clusterresourcequota_types.go
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/_helpers.tpl
  charts/pac-quota-controller/values.yaml
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  test/prometheus/alertingrules_test.yaml
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(metrics)!: replace percent metrics with crq_used_by_namespace
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test, helm-docs

Path conditions:
  go-fmt: any of: \.go$
  go-lint: any of: \.go$
  mockery-generate: any of: ^pkg/kubernetes/.*\.go$
  go-test: any of: \.go$
  helm-lint: any of: ^charts/.*\.(yaml|yml|tpl)$
  helm-docs: any of: ^charts/.*\.(yaml|yml|gotmpl)$
