Repository powerhome/pac-quota-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

.pre-commit-config.yaml:

# Pre-commit configuration for pac-quota-controller
# See https://pre-commit.com for more information
repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: mixed-line-ending

  # Go formatting and linting
  - repo: local
    hooks:
      # Go formatting
      - id: go-fmt
        name: Go Format (make fmt)
        entry: make fmt
        language: system
        files: '\.go$'
        pass_filenames: false

      # Go linting
      - id: go-lint
        name: Go Lint (make lint)
        entry: make lint
        language: system
        files: '\.go$'
        pass_filenames: false

      # Generate mocks using mockery
      - id: mockery-generate
        name: Generate Mocks (make generate)
        entry: make generate
        language: system
        files: '^pkg/kubernetes/.*\.go$'
        pass_filenames: false

      # Unit tests
      - id: go-test
        name: Go Unit Tests (make test)
        entry: make test
        language: system
        files: '\.go$'
        pass_filenames: false

      # Helm chart linting
      - id: helm-lint
        name: Helm Lint (make helm-lint)
        entry: make helm-lint
        language: system
        files: '^charts/.*\.(yaml|yml|tpl)$'
        pass_filenames: false

      # Helm documentation generation
      - id: helm-docs
        name: Generate Helm Docs (make helm-docs)
        entry: make helm-docs
        language: system
        files: '^charts/.*\.(yaml|yml|gotmpl)$'
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

# Configuration for different stages
default_stages: [pre-commit]
fail_fast: false

Setup SOPS
  .sops.yaml
Due: none

Update e2e.yaml
  .github/workflows/e2e.yaml
Due: none

chore(pipelines): update pipelines to exclude e2e and unit tests from non-code changes.
  .github/workflows/e2e.yaml
Due: none

fix: add excludedNamespaces tag
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
Due: helm-lint, helm-docs

fix: release script and chart org
  .github/workflows/chart-release.yml
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
Due: helm-lint, helm-docs

test: remove network policy
  charts/pac-quota-controller/values.yaml
Due: helm-lint, helm-docs

test: remove network policy
  charts/pac-quota-controller/templates/webhook/networkpolicy.yaml
Due: helm-lint, helm-docs

fix: add excludedNamespaces tag
  charts/pac-quota-controller/README.md
Due: none

feat: avoid processing unwanted namespaces
  charts/pac-quota-controller/README.md
Due: none

feat: avoid processing unwanted namespaces
  charts/pac-quota-controller/templates/manager/manager.yaml
  pkg/config/config.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat: avoid processing unwanted namespaces
  charts/pac-quota-controller/templates/manager/manager.yaml
Due: helm-lint, helm-docs

feat: avoid processing unwanted namespaces
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/config/config.go
  pkg/manager/manager.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(router): Replace Kubebuilder webhook router with Gin router (#41)
  pkg/config/config.go
Due: go-fmt, go-lint, go-test

feat(chart): exclude own namespace and kube-system by default
  charts/pac-quota-controller/templates/_helpers.tpl
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
Due: helm-lint, helm-docs

refactor(controller): remove OwnNamespace field, unify namespace exclusion logic
  charts/pac-quota-controller/README.md
  cmd/main.go
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/manager/manager.go
Due: go-fmt, go-lint, go-test

chore: add linker flags
  Dockerfile
Due: none

Feat: exclude namespaces (#61)
  .github/workflows/chart-release.yml
  Dockerfile
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  charts/pac-quota-controller/templates/_helpers.tpl
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/webhook/networkpolicy.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
  cmd/main.go
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/config/config.go
  pkg/manager/manager.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat: adding service webhook special case
  .github/copilot-instructions.md
  api/v1alpha1/clusterresourcequota_types.go
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
  docs/object-count-feature-plan.md
  internal/controller/clusterresourcequota_controller.go
  pkg/kubernetes/services/service.go
  pkg/kubernetes/services/service_suite_test.go
  pkg/kubernetes/services/service_test.go
  pkg/kubernetes/services/types.go
  pkg/kubernetes/storage/types.go
  pkg/kubernetes/usage/usage.go
  pkg/mocks/ServiceResourceCalculatorInterface_mock.go
  pkg/webhook/server/server.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
  pkg/webhook/v1alpha1/webhook_utils.go
  test/e2e/e2e_suite_test.go
  test/e2e/service_webhook_test.go
Due: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

chore: remove debug options
  internal/controller/clusterresourcequota_controller.go
  pkg/kubernetes/services/service.go
  pkg/webhook/v1alpha1/webhook_utils.go
  test/e2e/e2e_suite_test.go
  test/e2e/service_webhook_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

chore: remove implementation guideline
  docs/object-count-feature-plan.md
Due: none

feat(objectcount): implement object count logic
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  charts/pac-quota-controller/templates/rbac/role.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
  internal/controller/clusterresourcequota_controller.go
  pkg/kubernetes/objectcount/objectcount.go
  pkg/kubernetes/objectcount/objectcount_suite_test.go
  pkg/kubernetes/objectcount/objectcount_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/quota/quota.go
  pkg/kubernetes/usage/usage.go
  pkg/webhook/server/server.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/webhook_utils.go
  test/e2e/clusterresourcequota_webhook_test.go
  test/e2e/controller_reconcile_test.go
  test/e2e/objectcount_webhook_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

chore: remove unused boilerplate
  hack/boilerplate.go.txt
Due: none

fix: remove unused code
  pkg/kubernetes/objectcount/objectcount.go
  pkg/kubernetes/objectcount/objectcount_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/services/service.go
  pkg/kubernetes/services/service_test.go
  pkg/kubernetes/storage/storage.go
  pkg/kubernetes/storage/storage_test.go
  pkg/kubernetes/usage/usage.go
  pkg/kubernetes/usage/usage_test.go
  pkg/mocks/NamespaceSelector_mock.go
  pkg/mocks/PodResourceCalculatorInterface_mock.go
  pkg/mocks/ServiceResourceCalculatorInterface_mock.go
  pkg/mocks/StorageResourceCalculatorInterface_mock.go
Due: go-fmt, go-lint, mockery-generate, go-test

chore: create renovate exception to not update the helm chart default version
  charts/pac-quota-controller/values.yaml
  renovate.json
Due: helm-lint, helm-docs

feat(metrics): adding metrics
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/certmanager/certificate.yaml
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/metrics/service.yaml
  charts/pac-quota-controller/templates/network-policy/allow-metrics-traffic.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/templates/rbac/metrics_auth_role.yaml
  charts/pac-quota-controller/templates/rbac/metrics_auth_role_binding.yaml
  charts/pac-quota-controller/templates/rbac/metrics_reader_role.yaml
  charts/pac-quota-controller/values.yaml
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  pkg/metrics/metrics.go
  pkg/webhook/server/server.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/service_webhook.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(metrics): adding metrics
  charts/pac-quota-controller/README.md
Due: none

fix: test errors
  pkg/metrics/metrics.go
  pkg/webhook/server/server_test.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook_test.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook_test.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
Due: go-fmt, go-lint, go-test

fix: create separate metrics server
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/certmanager/certificate.yaml
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/metrics/certificate.yaml
  charts/pac-quota-controller/templates/metrics/service.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
  cmd/main.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: lint errors
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/templates/metrics/certificate.yaml
  docs/metrics.md
  pkg/metrics/metrics.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(metrics): adding metrics (#69)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/certmanager/certificate.yaml
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/metrics/service.yaml
  charts/pac-quota-controller/templates/network-policy/allow-metrics-traffic.yaml
  charts/pac-quota-controller/templates/prometheus/monitor.yaml
  charts/pac-quota-controller/templates/rbac/metrics_auth_role.yaml
  charts/pac-quota-controller/templates/rbac/metrics_auth_role_binding.yaml
  charts/pac-quota-controller/templates/rbac/metrics_reader_role.yaml
  charts/pac-quota-controller/templates/webhook/validatingwebhookconfiguration.yaml
  charts/pac-quota-controller/values.yaml
  cmd/main.go
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/webhook/server/server.go
  pkg/webhook/server/server_test.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook_test.go
  pkg/webhook/v1alpha1/namespace_webhook.go
  pkg/webhook/v1alpha1/namespace_webhook_test.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  pkg/webhook/v1alpha1/service_webhook.go
  pkg/webhook/v1alpha1/service_webhook_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(events): adding Kubernetes events to controller
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/manager/event-config.yaml
  charts/pac-quota-controller/templates/manager/manager.yaml
  charts/pac-quota-controller/templates/rbac/role.yaml
  charts/pac-quota-controller/values.yaml
  docs/metrics.md
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  internal/controller/clusterresourcequota_helpers.go
  pkg/events/cleanup.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/webhook/v1alpha1/namespace_webhook_test.go
  pkg/webhook/v1alpha1/objectcount_webhook.go
  pkg/webhook/v1alpha1/objectcount_webhook_test.go
  pkg/webhook/v1alpha1/persistentvolumeclaim_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/webhook_utils.go
  test/e2e/controller_events_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: lint
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/values.yaml
  docs/metrics.md
  pkg/events/cleanup.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  test/e2e/controller_events_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat: implement config for events
  charts/pac-quota-controller/README.md
  charts/pac-quota-controller/README.md.gotmpl
  charts/pac-quota-controller/templates/manager/manager.yaml
  docs/metrics.md
  go.mod
  go.sum
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_helpers.go
  pkg/config/config.go
  pkg/events/config.go
  pkg/events/config_test.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/manager/manager.go
  test/e2e/controller_events_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: cascade context
  cmd/main.go
  internal/controller/clusterresourcequota_controller.go
  pkg/manager/manager.go
Due: go-fmt, go-lint, go-test

fix: lint
  pkg/events/config.go
Due: go-fmt, go-lint, go-test

fix: push changes to fix events recording
  charts/pac-quota-controller/templates/rbac/role.yaml
  internal/controller/clusterresourcequota_controller.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/manager/manager.go
  test/e2e/controller_events_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

fix: remove unused
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test
