Repository powerhome/pac-quota-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

go-fmt:
  name: Go Format (make fmt)
  entry: make fmt
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (make lint)
  entry: make lint
  language: system
  pass_filenames: false

mockery-generate:
  name: Generate Mocks (make generate)
  entry: make generate
  language: system
  pass_filenames: false

go-test:
  name: Go Unit Tests (make test)
  entry: make test
  language: system
  pass_filenames: false

helm-lint:
  name: Helm Lint (make helm-lint)
  entry: make helm-lint
  language: system
  pass_filenames: false

helm-docs:
  name: Generate Helm Docs (make helm-docs)
  entry: make helm-docs
  language: system
  pass_filenames: false

fix(events): clean up CRQ events by Regarding, not absent labels
  pkg/events/cleanup.go
  pkg/events/cleanup_test.go
  pkg/events/recorder.go
Due: go-fmt, go-lint, go-test

test(e2e): multi-namespace aggregation, fail-open, and event coverage (#113)
  pkg/events/cleanup.go
  pkg/events/cleanup_test.go
  pkg/events/recorder.go
  test/e2e/controller_events_test.go
  test/e2e/fail_open_test.go
  test/e2e/multi_namespace_test.go
Due: go-fmt, go-lint, go-test

test(infra): cover certwatcher, logger, metrics, EqualStringMap
  pkg/logger/logger_test.go
  pkg/metrics/metrics_test.go
  pkg/utils/utils_test.go
  pkg/webhook/certwatcher/certwatcher_test.go
Due: go-fmt, go-lint, go-test

test(config): cover excluded-namespaces parsing and events/leader defaults
  pkg/config/config_test.go
Due: go-fmt, go-lint, go-test

test(infra): cover certwatcher, logger, metrics, utils (#114)
  pkg/config/config_test.go
  pkg/logger/logger_test.go
  pkg/metrics/metrics_test.go
  pkg/utils/utils_test.go
  pkg/webhook/certwatcher/certwatcher_test.go
Due: go-fmt, go-lint, go-test

refactor(cmd): extract command seam from main; test wiring + version
  cmd/main.go
  cmd/main_test.go
  cmd/version/version_test.go
Due: go-fmt, go-lint, go-test

Test/cmd coverage (#115)
  cmd/main.go
  cmd/main_test.go
  cmd/version/version_test.go
Due: go-fmt, go-lint, go-test

test(e2e): replace sleeps with polling and raise reconcile-wait timeouts
  test/e2e/clusterresourcequota_webhook_test.go
  test/e2e/controller_reconcile_test.go
  test/e2e/service_webhook_test.go
  test/e2e/storage_resources_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

fix: test timings
  internal/controller/clusterresourcequota_controller.go
Due: go-fmt, go-lint, go-test

test(e2e): gate CRQ-update on Total.Hard; scope cert-manager repo update
  test/e2e/clusterresourcequota_webhook_test.go
  test/utils/cluster.go
Due: go-fmt, go-lint, go-test

Test/cmd coverage (#117)
  internal/controller/clusterresourcequota_controller.go
  test/e2e/clusterresourcequota_webhook_test.go
  test/e2e/controller_reconcile_test.go
  test/e2e/service_webhook_test.go
  test/e2e/storage_resources_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

Test/cmd coverage (#118)
  test/e2e/clusterresourcequota_webhook_test.go
  test/utils/cluster.go
Due: go-fmt, go-lint, go-test

fix: unused code and event recorder reduncancy
  cmd/main.go
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_errorpaths_test.go
  internal/controller/clusterresourcequota_helpers_test.go
  pkg/events/cleanup.go
  pkg/events/cleanup_test.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/kubernetes/objectcount/objectcount.go
  pkg/manager/manager.go
  pkg/metrics/metrics.go
  pkg/webhook/server/server.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix: reconciler map race, QuotaExceeded cooldown, and webhook shutdown race
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_helpers.go
  pkg/events/recorder.go
  pkg/webhook/server/server.go
Due: go-fmt, go-lint, go-test

test(e2e): fix webhook cache timing flakiness across 24 denial assertions
  test/e2e/objectcount_webhook_test.go
  test/e2e/pod_webhook_test.go
  test/e2e/pvc_webhook_test.go
  test/e2e/service_webhook_test.go
  test/e2e/storage_class_quota_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

chore(release): bump app and chart to 0.5.0
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

chore(release): bump app and chart to 0.5.0 (#121)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

fix: enforce ephemeral-storage requests and limits quotas
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  test/e2e/storage_resources_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

fix: enforce ephemeral-storage requests and limits quotas (#122)
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/kubernetes/pod/pod.go
  pkg/kubernetes/pod/pod_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
  test/e2e/storage_resources_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

chore(release): bump appVersion to 0.5.1
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

chore(release): bump appVersion to 0.5.1 (#123)
  charts/pac-quota-controller/Chart.yaml
  charts/pac-quota-controller/README.md
Due: helm-lint, helm-docs

test(e2e): : gate suite on controller reconciling to fix leader-election startup flake
  test/e2e/e2e_suite_test.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

fix(deps): align Go 1.26 base image and satisfy golangci-lint v2.12.2
  .golangci.yml
  Dockerfile
  Makefile
  api/v1alpha1/groupversion_info.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/metrics/metrics.go
  pkg/webhook/server/server.go
  test/utils/helpers.go
Due: go-fmt, go-lint, go-test

fix(e2e): raise controller resource limits and add flake retry
  Makefile
  test/utils/cluster.go
Due: go-fmt, go-lint, go-test

fix(e2e): scope storage-class-quota namespace selector per test run
  test/e2e/storage_class_quota_test.go
Due: go-fmt, go-lint, go-test

fix(e2e): raise controller resource limits and add flake retry (#144)
  Makefile
  test/e2e/storage_class_quota_test.go
  test/utils/cluster.go
Due: go-fmt, go-lint, go-test

chore: remove mockery; restore CRD codegen markers; bump controller-tools
  .github/workflows/pre-commit.yml
  .mockery.yml
  .pre-commit-config.yaml
  Makefile
  api/v1alpha1/clusterresourcequota_types.go
  api/v1alpha1/groupversion_info.go
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  internal/controller/clusterresourcequota_controller_test.go
  internal/controller/fake_crq_client_test.go
  pkg/kubernetes/quota/types.go
  pkg/mocks/CRQClientInterface_mock.go
Due: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

feat(pod): quota scope matching and QoS classification
  go.mod
  go.sum
  pkg/kubernetes/pod/qos.go
  pkg/kubernetes/pod/qos_test.go
  pkg/kubernetes/pod/scope.go
  pkg/kubernetes/pod/scope_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

feat(api): quota scope CRD schema and CEL validation
  api/v1alpha1/clusterresourcequota_types.go
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  internal/controller/clusterresourcequota_controller_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(controller,webhook): enforce quota scopes
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/kubernetes/quota/scope_validation.go
  pkg/kubernetes/quota/scope_validation_test.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

docs,test(e2e): document and cover scoped ClusterResourceQuota
  README.md
  docs/quota-scopes.md
  examples/scoped-quota-example.yaml
  test/e2e/scoped_quota_test.go
Due: go-fmt, go-lint, go-test

chore: remove mockery; restore CRD codegen markers; bump controller-tools (#138)
  .github/workflows/pre-commit.yml
  .mockery.yml
  .pre-commit-config.yaml
  Makefile
  api/v1alpha1/clusterresourcequota_types.go
  api/v1alpha1/groupversion_info.go
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  internal/controller/clusterresourcequota_controller_test.go
  internal/controller/fake_crq_client_test.go
  pkg/kubernetes/quota/types.go
  pkg/mocks/CRQClientInterface_mock.go
Due: go-fmt, go-lint, mockery-generate, go-test, helm-lint, helm-docs

feat(pod): quota scope matching and QoS classification (#139)
  go.mod
  go.sum
  pkg/kubernetes/pod/qos.go
  pkg/kubernetes/pod/qos_test.go
  pkg/kubernetes/pod/scope.go
  pkg/kubernetes/pod/scope_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

feat(api): quota scope CRD schema and CEL validation (#140)
  api/v1alpha1/clusterresourcequota_types.go
  charts/pac-quota-controller/crds/quota.powerapp.cloud_clusterresourcequotas.yaml
  internal/controller/clusterresourcequota_controller_test.go
Due: go-fmt, go-lint, go-test, helm-lint, helm-docs

feat(controller,webhook): enforce quota scopes (#141)
  internal/controller/clusterresourcequota_controller.go
  internal/controller/clusterresourcequota_controller_test.go
  pkg/events/recorder.go
  pkg/events/recorder_test.go
  pkg/kubernetes/quota/scope_validation.go
  pkg/kubernetes/quota/scope_validation_test.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook.go
  pkg/webhook/v1alpha1/clusterresourcequota_webhook_test.go
  pkg/webhook/v1alpha1/pod_webhook.go
  pkg/webhook/v1alpha1/pod_webhook_test.go
Due: go-fmt, go-lint, mockery-generate, go-test

Path conditions:
  go-fmt: any of: \.go$
  go-lint: any of: \.go$
  mockery-generate: any of: ^pkg/kubernetes/.*\.go$
  go-test: any of: \.go$
  helm-lint: any of: ^charts/.*\.(yaml|yml|tpl)$
  helm-docs: any of: ^charts/.*\.(yaml|yml|gotmpl)$
